<% @page_title = 'Rechnungen' %>

<%= render :partial => 'search' %>

<table id="invoices">
  <tr>
    <th>#</th>
    <th>Rechnungsdatum</th>
    <th>bezahlt am</th>
    <th>Titel</th>
    <th>Kunde</th>
    <th>Bruttobetrag</th>
    <th>Steueranteil</th>
    <th>Aktionen</th>
  </tr>
  <%= render :partial => 'invoice', :collection => @invoices %>
</table>