/* Exabuch Print Styles */

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.line {
  background: black;
  clear: both;
  height: 1px;
  overflow: hidden;
}

#main {
  background: white;
  margin: 0 auto;
  width: 900px;
}

#logo {
  float: right;
  padding: 50px 25px 10px 0;
}
