<fieldset>
  <legend>Adressdaten</legend>
<table class="form">
  <tr>
    <td><%= f.label :name, "Name (wird nur intern verwendet)" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
</fieldset>
