<% if params[:customer_id] %>
  <li><%= link_to_unless_current 'neue Adresse', new_customer_address_path(:customer_id => params[:customer_id]) %></li>
<% else %>
  <li><%= link_to_unless_current 'neue Adresse', new_address_path %></li>
<% end %>
